<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiTapLon_BHX"
        tools:targetApi="31">
        <activity
            android:name=".activity.HTActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DmkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.chitietspActivity"
            android:exported="false" />
        <activity
            android:name=".activity.qlnccActivity"
            android:exported="false" />
        <activity
            android:name=".activity.qlloaihhActivity"
            android:exported="false" />
        <activity
            android:name=".activity.qlhhActivity"
            android:exported="false" />
        <activity
            android:name=".activity.qltkActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuanlyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainMenu"
            android:exported="false" />
        <activity
            android:name=".activity.dangkiActivity"
            android:exported="false" />
        <activity android:name=".activity.chitietbia" />
        <activity android:name=".activity.chitietbuoidaxanh" />
        <activity android:name=".activity.chitietraumuc" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>